#header {
  text-align: center;
  margin-bottom: 50px;
}

.bar {
  position: relative;
  float: left;
  display: inline-block;
}

.lines {
  position: relative;
  float: left;
  display: inline-block;
}
.charts {
  width: 848px;
  height: 400px;
  margin: 0 auto;
}

.charts .outer{
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  float: left;
}

.buttons {
  width: 346px;
  margin: 0 auto;
}

button {
  height: 40px;
}

.buttons button {
  margin: 20px;
}

.victory {
  margin: auto;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
