#header {
  text-align: center;
  margin-bottom: 50px;
}

div.line {
  -webkit-transform-origin: 0 100%;            
  height: 3px; /* Line width of 3 */            
  background: #000; /* Black fill */
}

.bar {
  position: relative;
  float: left;
  display: inline-block;
}

.dots {
  position: relative;
  float: left;
  display: inline-block;
}
.charts {
  width: 860px;
  height: 400px;
  margin: 0 auto;
}

.charts .outer{
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  width: 400px;
  height: 400px;
  border: 5px ridge #BDBDBD;
  float: left;
}


.buttons {
  width: 346px;
  margin: 0 auto;
}

button {
  height: 40px;
}

.buttons button {
  margin: 20px;
}

.victory {
  margin: auto;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
